$voda-red: #e60000;


body {
    font-family: Vodafone;
    background-color: #505050;
    
};
  
nav {
    color: #4a4d4e;
    font-size: 20px;
    font-weight: bold;
    background-color: #ffffff;
    margin-top: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;

    img{
        height: 100px;
    }

    a{
        margin: 10px;
    }

    button{
        background-color: $voda-red;
        color: #ffffff;
        border: none;
        padding: 5px 30px ;
        float: right;
    }
}

.section-text{
    padding-top: 15px;
    font-size: 32px;
    font-weight: lighter;
    text-align: center;
}

header{
    text-align: center;

}

#cover-picture{
    background-image: url("../img/Headers_50-50_Full_HD_-_1920x450px.jpg");
    background-size: cover;
    height: 500px;
}

#cover-text{
    color: #ffffff;
    font-weight: lighter;
    font-size: 18px;
    button{
        background-color: #ffffff;
        border: none;
        padding: 5px 30px ;
    }

    div{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
}


#time-line-box{
    background: linear-gradient(90deg, rgba(216,216,216,1) 0%, rgba(255,255,255,1) 50%, rgba(216,216,216,1) 100%);

    #little-text{
        line-height: normal;
        text-align: center;
        font-weight: lighter;
        font-size: 18px;
    }
}

#event-information{
    color: #ffffff;
    background-image: url("../img/section-bg--party.jpg");
    background-size: cover;

    .event-box-header{
        font-size: 24px;
        font-weight: bold;
    }

    p{
        font-size: 18px;
        font-weight: lighter;
        a{
            color: #ffffff;
            text-decoration: underline;
        }
    }

}


.info-list-item{
        margin: auto;
        width: 70%;
        .info-list-img{

            img{
                background-color: rgba(255,255,255,0.3);
                border-radius: 50%;
                height: 80px;
                padding: 10px;
            }

            
        }
}

#presenters{
    background-color: #cecbcb;
    color: #525151;
    h3{
        text-align: center;
        font-size: 28px;
        font-weight: lighter;
    }
}

#presenter-pictures-row{
    text-align: center;
    img{
        width: 60%
    }

    .presenter-name{
        font-weight: bold;
        font-size:  20px;
    }

    p{
        font-size: 16px;
        font-weight: lighter;
    }

}

#other-information{
    background-image: url("../img/section-bg--grey.jpg");
    background-size: cover;
    color: #ffffff;
    text-align: left;
    .section-text{
        text-align: left;
    }
    h3{
        font-size: 28px;
        font-weight: lighter;
    }
}

#reg-form-box{
    margin-top: 20px;
    color: #ffffff;


    h3, h4{
        text-align: center;
    }

    h3{
        font-size: 24px;
        font-weight: lighter;
    }

    h4{
        font-size: 22px;
        font-weight: bold;
    }

    #reg-form{
        width: 60%;
    }


form {
    margin-top: 20px;
    font-size: 16px;
    font-weight: normal;

    p{
        margin-top: 20px;
        font-size: 18px;
    font-weight: normal;
    }
}

    form button{
        background-color: $voda-red;
        color: #ffffff;
        border: none;
        padding: 5px 30px ;
    }

    .form-check{
        font-size: 17px;
        font-weight: lighter;
    }
}

footer{
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: white;

    hr{
        border-color: white;
        width: 60%
    }
}