body {
  font-family: Vodafone;
  background-color: #505050;
}

nav {
  color: #4a4d4e;
  font-size: 20px;
  font-weight: bold;
  background-color: #ffffff;
  margin-top: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

nav img {
  height: 100px;
}

nav a {
  margin: 10px;
}

nav button {
  background-color: #e60000;
  color: #ffffff;
  border: none;
  padding: 5px 30px;
  float: right;
}

.section-text {
  padding-top: 15px;
  font-size: 32px;
  font-weight: lighter;
  text-align: center;
}

header {
  text-align: center;
}

#cover-picture {
  background-image: url("../img/Headers_50-50_Full_HD_-_1920x450px.jpg");
  background-size: cover;
  height: 500px;
}

#cover-text {
  color: #ffffff;
  font-weight: lighter;
  font-size: 18px;
}

#cover-text button {
  background-color: #ffffff;
  border: none;
  padding: 5px 30px;
}

#cover-text div {
  margin-top: 20px;
  margin-bottom: 20px;
}

#time-line-box {
  background: -webkit-gradient(linear, left top, right top, from(#d8d8d8), color-stop(50%, white), to(#d8d8d8));
  background: linear-gradient(90deg, #d8d8d8 0%, white 50%, #d8d8d8 100%);
}

#time-line-box #little-text {
  line-height: normal;
  text-align: center;
  font-weight: lighter;
  font-size: 18px;
}

#event-information {
  color: #ffffff;
  background-image: url("../img/section-bg--party.jpg");
  background-size: cover;
}

#event-information .event-box-header {
  font-size: 24px;
  font-weight: bold;
}

#event-information p {
  font-size: 18px;
  font-weight: lighter;
}

#event-information p a {
  color: #ffffff;
  text-decoration: underline;
}

.info-list-item {
  margin: auto;
  width: 70%;
}

.info-list-item .info-list-img img {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  height: 80px;
  padding: 10px;
}

#presenters {
  background-color: #cecbcb;
  color: #525151;
}

#presenters h3 {
  text-align: center;
  font-size: 28px;
  font-weight: lighter;
}

#presenter-pictures-row {
  text-align: center;
}

#presenter-pictures-row img {
  width: 60%;
}

#presenter-pictures-row .presenter-name {
  font-weight: bold;
  font-size: 20px;
}

#presenter-pictures-row p {
  font-size: 16px;
  font-weight: lighter;
}

#other-information {
  background-image: url("../img/section-bg--grey.jpg");
  background-size: cover;
  color: #ffffff;
  text-align: left;
}

#other-information .section-text {
  text-align: left;
}

#other-information h3 {
  font-size: 28px;
  font-weight: lighter;
}

#reg-form-box {
  margin-top: 20px;
  color: #ffffff;
}

#reg-form-box h3, #reg-form-box h4 {
  text-align: center;
}

#reg-form-box h3 {
  font-size: 24px;
  font-weight: lighter;
}

#reg-form-box h4 {
  font-size: 22px;
  font-weight: bold;
}

#reg-form-box #reg-form {
  width: 60%;
}

#reg-form-box form {
  margin-top: 20px;
  font-size: 16px;
  font-weight: normal;
}

#reg-form-box form p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: normal;
}

#reg-form-box form button {
  background-color: #e60000;
  color: #ffffff;
  border: none;
  padding: 5px 30px;
}

#reg-form-box .form-check {
  font-size: 17px;
  font-weight: lighter;
}

footer {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: white;
}

footer hr {
  border-color: white;
  width: 60%;
}
/*# sourceMappingURL=index.css.map */